# Task 4.6

In [3]:
#Import Libraries
import pandas as pd
import numpy as np
import os

In [4]:
#Import orders_products_combined pickle
df_orders_products_combined = pd.read_pickle(r'C:\Users\Owner\Documents\Instacart Basket Analysis\02 Data\Prepared Data\orders_products_combined.pkl')

In [5]:
df_orders_products_combined.shape

(32434489, 11)

In [6]:
df_products_checked = pd.read_csv(r'C:\Users\Owner\Documents\Instacart Basket Analysis\02 Data\Prepared Data\products_checked.csv')

In [7]:
df_products_checked.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
df_orders_products_combined.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [9]:
#Merge the two data frames
df_merged_large = df_orders_products_combined.merge(df_products_checked, on = 'product_id')

In [10]:
df_merged_large.shape

(32404859, 16)

In [15]:
#Confirm the results of the merge using the merge flag
df_merged_large['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [16]:
#Export the newly created data frame 
df_merged_large.to_pickle(r'C:\Users\Owner\Documents\Instacart Basket Analysis\02 Data\Prepared Data\orders_products_merged.pkl')

NameError: name 'df_merged_large' is not defined