# Task 4.8

In [2]:
#Import Libraries

import pandas as pd
import numpy as np
import os

In [9]:
#Import Data Frame

ords_prods_merge = pd.read_pickle(r'C:\Users\Owner\Documents\Instacart Basket Analysis\02 Data\Prepared Data\orders_products_merged.pkl')

In [10]:
df = ords_prods_merge

In [11]:
df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0,product_name,aisle_id,department_id,prices
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0
2,473747,1,prior,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0
4,431534,1,prior,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0

In [12]:
df.groupby('department_id').agg({'order_number' : ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

Q3: When we first did this with the 1 million subset, the computer only returned 9 department ids and now we have 21. We missed a lot of important information when we limited the data. Now department 22 has the highest number of average orders.

# Create Loyalty Flag

In [14]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [15]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal Customer'

In [16]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular Customer'

In [17]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New Customer'

In [18]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular Customer    15876776
Loyal Customer      10284093
New Customer         6243990
Name: loyalty_flag, dtype: int64

In [22]:
Determine spending habits of loyalty customer categories

df.groupby('loyalty_flag').agg({'prices' : ['mean']})

                     prices
                       mean
loyalty_flag
Loyal Customer    10.386336
New Customer      13.294670
Regular Customer  12.495717

In [23]:
# Create Spending Flag based on average prices of customer order

ords_prods_merge['avg_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [24]:
ords_prods_merge.loc[ords_prods_merge['avg_price'] < 10, 'spending_flag'] = 'Low Spender'

In [25]:
ords_prods_merge.loc[ords_prods_merge['avg_price'] >= 10, 'spending_flag'] = 'High Spender'

In [26]:
ords_prods_merge['spending_flag'].value_counts(dropna = False)

Low Spender     31770614
High Spender      634245
Name: spending_flag, dtype: int64

In [27]:
# Create an order frequency flag

ords_prods_merge['order_freq'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [28]:
ords_prods_merge.loc[ords_prods_merge['order_freq'] > 20, 'order_frequency_flag'] = 'Non-Frequent Customer'

In [29]:
ords_prods_merge.loc[(ords_prods_merge['order_freq'] <= 20) & (ords_prods_merge['order_freq'] > 10), 'order_frequency_flag'] = 'Regular Customer'

In [30]:
ords_prods_merge.loc[ords_prods_merge['order_freq'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [31]:
ords_prods_merge['order_frequency_flag'].value_counts(dropna = False)

Frequent customer        21559853
Regular Customer          7208564
Non-Frequent Customer     3636437
NaN                             5
Name: order_frequency_flag, dtype: int64

In [33]:
ords_prods_merge.to_pickle(r'C:\Users\Owner\Documents\Instacart Basket Analysis\02 Data\Prepared Data\orders_products_merged_2.pkl')